@CHARSET "UTF-8";

body {
    color: #33333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
}

#header_pc {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;

}


#header_phone {
    display: none;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    text-align: center;
}

#content {
    margin-top: 70px;
}

@media screen and (max-width: 640px) {
    #header_pc {
       display: none;
    }

    #header_phone {
        display: block;

    }

    #content {
        margin-top: 90px;
    }
}


#footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
}

#logout {
    display: inline;
    float: right;
    padding-top: 14px;
}

#header_menu_pc {
    display: inline;
}

#header_menu_pc h1 {
    display: inline-block;
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 40px;
}

#novel_zone {
    text-align: center;
}


#single_novel {
    border: 2px solid;
    border-radius: 4px;
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    padding: 10px;
}

#single_novel_show {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

#tud_center{
    text-align: center;
}

#user_name {
    text-align: left;
    diplay: inline-block;
    padding: 2px;
}

#user_name_show {
    text-align: left;
    display: inline-block;
    padding: 4px;
    font-size: 1.2rem;
}

#date {
    float: right;
    display: inline-block;
}

#date_show {
    text-align: right;
    display: inline-block;
}

#title {
    text-align: left;
    padding: 2px;
}

#title_show {
    font-size: 2rem;
    padding: 5px;
}

#main {
    border: 1px solid;
    width: 70%;
    height: 100px;
    margin: auto;
    text-align: left;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;

}

#main_show {
    border: 1px solid;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    word-wrap:break-word;
    padding: 20px;
    white-space: pre-wrap;
    overflow: scroll;
}

#main_form {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    word-wrap:break-word;
    padding: 20px;
    white-space: pre-wrap;
    display: block;
}

#show {
    text-align: right;
}

#welcome {
    text-align: center;
    padding: 10px;
}

#my_novel {
    text-align: center;
    padding-bottom: 10px;
}

#pagination {
    text-align: center;
}

#new {
    text-align: center;
    font-size: 1.3rem;
    padding: 3px;
}
#new_edit_novel {
    text-align: center;
    margin: 15px;
}
#submit {
    display: block;
    margin: auto;
    padding: 15px 30px;
    font-size: 1.2rem;

}
#user_label {
    margin: 50px;
}

#user_label2 {
    margin-left: 50px;;
    margin-right: 130px;
}

#user_label3 {
    margin-left: 50px;
    margin-right: 82px;
}

#edit_user_name {
    margin: 20px;
    display: block;
    text-align: center;
}
#attention {
    color: red;
    margin: 10px;
}

#login {
    text-align: center;
    margin: auto;
}


